footer {
    height: 20px;
}
footer h3 {
    margin-bottom: 30px;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul li i {
    margin-right: 10px;
    color: #5f5335;
}
footer ul.list-inline li a i {
    font-size: 20px;
    margin-right: 20px;
    color: #777369;
}