@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



@layer components {

    .hoverLink {
        transition: all ease-in-out 0.15s;
        position: relative;
        margin: 0 12px;
    }


    .hoverLink::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 3px theme('colors.bg');
    }

    .hoverLink:hover:before {
        transition: 0.6s ease-in-out;
        width: 100%;
    }

    .button {
        padding: theme('spacing.sm');
        margin: theme('spacing.md');
        min-width: 30px;
        height: 100%;
        border-radius: theme('spacing.sm');
    }

    .slick-dots li button::before {
        color: rgb(179, 178, 178) !important;
        font-size: 20px !important;
        /* margin-top: 10px; */
    }

    .slick-dots .slick-active button:before {
        color: theme('colors.button') !important;
    }

    .sidebar {
        height: calc(100%- theme('spacing.sm'));
        width: 20%;
    }



    .content {
        height: calc(100%- theme('spacing.sm'));
        width: 80%;
    }

    .sort {
        width: calc(100%- theme('spacing.sm'));
    }

    .activeButton {
        border-color: theme('colors.button');
    }

    .style-module_emptyIcons__Bg-FZ {
        display: flex;
    }

    .about-position {
        position: absolute;
        bottom: 12%;
    }

    .price-position {
        position: absolute;
        right: 10%;
    }

    .bottom-position {
        position: absolute;
        bottom: 0;
    }

    .button-position {
        position: absolute;
        bottom: 5px;
        right: 8%;
    }

    .totalprice-position {
        position: absolute;
        bottom: 5px;
        right: 25%;
    }

    .button-position-left {
        position: absolute;
        bottom: 5px;
        left: 8%;
    }

    .button-hover {

        border: 1px solid theme('colors.button');
        border-radius: 8px;
        padding: 12px;
        transition: ease-in-out 0.3s;
    }

    .confirm-button {
        border: 1px solid theme('colors.button');
        border-radius: 6px;
        padding: 8px;
        transition: ease-in-out 0.3s;
    }

    .confirm-button:hover {
        background-color: theme('colors.button');
        color: theme('colors.bg');
        /* border-radius: 8px; */
    }

    .button-hover:hover {
        background-color: theme('colors.button');
        color: theme('colors.bg');
        /* border-radius: 8px; */
    }

    .paginate-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paginate-link-item {
        margin: 8px;
    }

    .active-link {
        background-color: theme('colors.button');
        color: theme('colors.bg');
    }


    .paginate-hover {
        border: 1px solid theme('colors.button');
        border-radius: 4px;
        padding: 6px;
        transition: ease-in-out 0.3s;
    }

    .paginate-hover:hover {
        background-color: theme('colors.button');
        color: theme('colors.bg');
        /* border-radius: 8px; */
    }

    .widthDate {
        width: calc(90% - 100px);
    }

    .widthName {
        width: calc(90% - 100px);
    }
}